/* hrt = <i class="fa-solid fa-heart"></i>
fb = <i class="fa-brands fa-facebook-f"></i>
circle fb = <i class="fa-brands fa-facebook"></i>
twitter = <i class="fa-brands fa-twitter"></i>
basketball = <i class="fa-solid fa-basketball"></i>
be = <i class="fa-brands fa-behance"></i>

phone= <i class="fa-solid fa-phone"></i>
insta= <i class="fa-brands fa-square-instagram"></i>
in= <i class="fa-brands fa-linkedin-in"></i>
send= <i class="fa-solid fa-location-arrow"></i>
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --header-col: #150303;
  --btn-col: #fb0000;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
ul {
  list-style: none;
}

/* HEADER STYLING */

header {
  background-color: var(--header-col);
}

/* NAVBAR */
.navbar {
  height: 7rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  align-self: center;
  display: block;
  margin-left: 3rem;
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.menu-wrapper > ul {
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.nav-list {
  margin-right: 3rem;
  position: relative;
}

.nav-list:last-child {
  margin-right: 0;
}

.nav-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
}

.nav-btn {
  background-color: var(--btn-col);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  width: 200px;
  padding: 1rem 2rem;
  color: #fff;
}

.menubar {
  align-self: center;
  display: none;
}

.menubar i {
  color: #fff;
  font-size: 3rem;
}

/* SUB MENU */

.submenu {
  background-color: #212529;
  padding: 1rem 2rem;
  position: absolute;
  top: 4.3rem;
  width: 180px;
  transform: translateY(-10%);
  opacity: 0;
  transition: 0.3s;
}

.submenu > li {
  margin-bottom: 1rem;
}

.submenu > li > a {
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-list:hover .submenu {
  opacity: 1;
  transform: translateY(0);
}

/* HERO SECTION */
.hero-section {
  display: flex;
  justify-content: space-between;
  height: calc(75vh - 7rem);
}

.hero-title {
  flex-basis: 40%;
  align-self: center;
}

.hero-title > p {
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.hero-img {
  flex-basis: 56%;
}

.hero-img img {
  height: 100%;
  width: 100%;
}

/* MAIN */
MAIN {
  margin-top: 10rem;
}

.all-section-container {
  max-width: 1176px;
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-8 {
  grid-column: 1/9;
}

.content-1 > img {
  width: 100%;
}

.content-1 > div > h2 {
  font-size: 3rem;
  margin: 2rem 0;
  opacity: 0.8;
}

.content-1 > div > p {
  font-size: 1.6rem;
  margin: 1.5rem 0;
  /* opacity: 0.6; */
}

.content-1 > div > .span-text {
  background-color: #f2f3f7;
  padding: 3rem;
}

.content-1 > div > .span-text > span {
  background-color: #fff;
  border-left: 2px solid #888;
  padding: 2em;
  display: block;
  line-height: 1.6;
  font-size: 1.6rem;
  font-style: italic;
}

.content-1 .content-link > a {
  font-size: 1.6rem;
  color: #999;
}

.content-1 .content-link > a:first-child {
  margin-right: 2rem;
}

.content-1 .content-link > a:last-child {
  margin-left: 2rem;
}

.hrt {
  font-size: 1.4rem;
  color: #888;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  border-top: 1px solid rgba(136, 136, 136, 0.5);
  border-bottom: 1px solid rgba(136, 136, 136, 0.5);
  padding: 2rem 0 3rem;
  margin-top: 2rem;
}

.hrt .lily {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.hrt .social {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}

.hrt .prev {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 1.3rem;
  margin-top: 4rem;
}

.hrt .p {
  display: inline-block;
}

.hrt .prev i {
  position: absolute;
  font-size: 3rem;
  color: #fff;
  opacity: 0;
}

.hrt .prev .space {
  color: rgb(65, 64, 64);
  font-weight: 600;
}

.hrt .prev img:hover ~ i {
  opacity: 1;
}

.hrt .prev i:hover {
  opacity: 1;
  color: #fb0000;
  cursor: pointer;
}

.hrt .next {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  gap: 1.3rem;
  margin-top: 4rem;
  text-align: end;
}

.hrt .next i {
  position: absolute;
  font-size: 3rem;
  color: #fff;
  opacity: 0;
  right: 0;
}

.hrt .next .tele {
  color: rgb(65, 64, 64);
  font-weight: 600;
}

.hrt .next img:hover ~ i {
  opacity: 1;
}

.hrt .next i:hover {
  opacity: 1;
  cursor: pointer;
}

.author {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.4rem;
  color: #888;
  margin: 8rem 6rem;
}

.author .para :first-child {
  color: rgb(65, 64, 64);
  font-weight: 500;
}

.comment {
  border-top: 1px solid rgba(136, 136, 136, 0.5);
  padding-top: 2rem;
}

.comment .zero {
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
}

.profile .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: black;
  font-weight: 550;
}

.profile .name span {
  margin-left: 1rem;
}
.profile .name span,
.rep {
  color: #888;
  font-size: 1.4rem;
  font-weight: 400;
}

.pro > p {
  font-size: 1.4rem;
  color: #888;
}

.profile .man {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}

.report {
  margin-top: 7rem;
  border-top: 1px solid rgba(136, 136, 136, 0.5);
}

.report > p {
  font-size: 1.5rem;
  color: rgba(21, 3, 3, 0.8);
  font-weight: 600;
  margin: 4rem 0;
}

.report .write {
  font-size: 1.4rem;
  width: 100%;
  height: 15em;
  outline: none;
  border: 1px solid rgba(136, 136, 136, 0.5);
  position: relative;
}

.report > .write::placeholder {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.report .name {
  display: flex;
  gap: 2rem;
  margin: 2.5rem 0;
}

.report .name > input {
  width: 100%;
  height: 3rem;
  outline: none;
  border: 1px solid rgba(136, 136, 136, 0.5);
  padding-left: 0.5rem;
}

.report .website {
  width: 100%;
  height: 3rem;
  outline: none;
  border: 1px solid rgba(136, 136, 136, 0.5);
  padding-left: 0.5rem;
}

.report button {
  margin-top: 2.5rem;
  height: 4rem;
  width: 40%;
  background-color: transparent;
  color: var(--btn-col);
  border: 1px solid var(--btn-col);
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 550;
}
.grid-4 {
  grid-column: 9/13;
  margin-left: 2rem;
}

.search-wrapper {
  width: 100%;
  height: 10rem;
  background-color: #e4e2e2;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.search-wrapper input {
  height: 4rem;
  padding-left: 2rem;
  font-weight: 550;
  border: 1px solid rgba(136, 136, 136, 0.5);
  outline: none;
}

.search-wrapper button {
  height: 4rem;
  width: 8rem;
  background-color: var(--btn-col);
  color: #fff;
  outline: none;
  border: none;
}

.list-wrapper {
  width: 100%;
  background-color: #e4e2e2;
  margin-top: 2rem;
  padding: 3rem 2rem;
}

.list-wrapper h3 {
  font-size: 1.4rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(136, 136, 136, 0.5);
}

.list-wrapper ul {
  margin-top: 3rem;
  font-size: 1.4rem;
  color: #585858;
}

.list-wrapper ul > li {
  padding: 1.5rem 0;
  border-bottom: 1px solid rgba(136, 136, 136, 0.5);
}

.list-wrapper ul > li:last-child {
  border: none;
}

.list-wrapper-2 {
  width: 100%;
  background-color: #e4e2e2;
  margin-top: 2rem;
  padding: 3rem 2rem;
}

.list-wrapper-2 .recent {
  font-size: 1.4rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(136, 136, 136, 0.5);
}

.list-wrapper-2 ul {
  margin-top: 3rem;
  font-size: 1.1rem;
  color: #585858;
}

.list-wrapper-2 ul > li {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2.5rem;
}

.list-wrapper-2 ul > li h3 {
  color: black;
  margin-bottom: 1rem;
}

.button-wrapper {
  width: 100%;
  background-color: #e4e2e2;
  margin-top: 2rem;
  padding: 3rem 2rem;
}

.button-wrapper h3 {
  font-size: 1.4rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(136, 136, 136, 0.5);
}

.button-wrapper .button {
  margin-top: 3rem;
  font-size: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.button-wrapper button {
  border: 1px solid rgba(136, 136, 136, 0.5);
  border-radius: 3px;
  height: 2.5rem;
  width: max-content;
  padding: 0 2rem;
  color: #585858;
  font-weight: 600;
}

.button-wrapper button:hover {
  background-color: #fa0202;
  color: #fff;
}
.feeds-wrapper {
  width: 100%;
  background-color: #e4e2e2;
  margin-top: 2rem;
  padding: 3rem 2rem;
}

.feeds-wrapper h3 {
  font-size: 1.4rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(136, 136, 136, 0.5);
}

.feeds-wrapper .feeds {
  margin-top: 3rem;
  font-size: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.feeds-wrapper .feeds img {
  width: 10.4rem;
}

.news {
  width: 100%;
  background-color: #e4e2e2;
  margin-top: 2rem;
  padding: 3rem 2rem;
}

.news h3 {
  font-size: 1.4rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(136, 136, 136, 0.5);
}

.news input {
  margin-top: 3rem;
  font-size: 1.4rem;
  color: #585858;
  width: 100%;
  height: 4rem;
  outline: none;
  border: 1px solid rgba(136, 136, 136, 0.5);
  padding-left: 2rem;
}

.news button {
  margin-top: 1.5rem;
  width: 100%;
  height: 4rem;
  color: var(--btn-col);
  font-weight: 600;
  border: 2px solid var(--btn-col);
  border-radius: 5px;
}

.all-last-section {
  width: 100vw;
  background-color: var(--header-col);
  margin-top: 10rem;
  padding: 8rem 6rem 0;
}

.all-last-section .contact {
  display: flex;
  justify-content: space-between;
}

.all-last-section .contact .phone i {
  font-size: 2.5rem;
  color: #fb0000;
}

.all-last-section .contact .phone h2 {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 2rem;
}

.all-last-section .contact .phone p {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 1rem;
}

.all-last-section .contact .last-logo {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 1rem;
  width: 25rem;
  text-align: center;
}

.all-last-section .contact .last-logo p {
  margin-top: 2rem;
}
.all-last-section .social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  gap: 1rem;
  margin-top: 5rem;
}

.all-last-section .social i {
  color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
}

.all-last-section .copy {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 3rem;
  width: 100%;
  text-align: center;
  border-top: 1px solid rgba(136, 136, 136, 0.5);
  padding: 4rem 0 2.5rem;
}

.all-last-section .copy i {
  color: #fb0000;
}

.all-last-section .copy span {
  color: #fa0202;
}

/* MEDIA QUERY */

@media screen and (max-width: 990px) {
  .menu-wrapper {
    display: block;
    background-color: #4c4c4c;
  }
}
